body {
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

button {
  
}
h1 {
  font-family: "Archivo Black", sans-serif;
  color: white;
}
h2 {
  
}
header {
  background-color: #1d3875;
  padding: 20px;
  margin-bottom: 18px;
}
nav {
}

form {
  margin: 10px;
  width: 500px;
  /* Form outline */
  padding: 15px;
  border: 1px solid;
  border-radius: 15px;
}

img {
  width: 400px;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u-list-inline li {
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
}
.button-styled {
  background-image: url(https://cdn.glitch.com/45cf91dd-1c76-4720-9ed6-0b9ec5556704%2Fmenu-24px.svg?v=1608022911472);
  background-repeat: no-repeat;
  background-position: 50% 50%;
background-size: cover;
  border: none;
 width: 40px;
height: 40px;
}
@media (max-width: 500px) {
.site-nav > button:not([aria-expanded]) {
    display: none;
}
    .site-nav > button[aria-expanded=false] + ul {
    display: none;
  }
}

@media (min-width: 501px) {
  .site-nav > button {
    display: none;
  }
}
