body {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin: 0 30px;
}

button {
  border-radius: 5px;
  background-color: #db4d9e;
  color: white;
  padding: 7px 25px;
  font-size: 20px;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  color: white;
}
h2 {
}
header {
  background-color: #1d3875;
  padding: 30px;
  margin-bottom: 18px;
  margin: 0 -30px;
}
nav {
}

form {
  margin: auto;
  width: 400px;
  /* Form outline */
  padding: 15px;
  border: 1px solid;
  border-radius: 15px;
}

footer {
  padding: 20px 0;
}
img {
  width: 350px;
  max-height: 400px;
  object-fit: cover;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u-list-inline li {
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
}
.button-styled {
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
}


@media (max-width: 500px) {
  .site-nav > button:not([aria-expanded]) {
    display: none;
  }
  .site-nav > button[aria-expanded="false"] + ul {
    display: none;
  }
}

@media (min-width: 501px) {
  .site-nav > button {
    display: none;
  }
}
