/* variables*/
:root {
  --color-blue: #1d3875;
  --color-pink: #ff759c;
  --color-highlight: #c2acfa;
  --color-box: hsl(223, 54%, 97%);

  --transition-default: all 200ms ease;
}

/* UTILITY STYLES*/
.u-list-inline li {
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
}
.u-list-reset {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background-color: #11182b;
  color: #403f3f;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0 30px;
}

button {
  border: none;
  border-radius: 15px;
  background-color: var(--color-pink);
  color: #1d3875;
  padding: 17px 45px;
  font-size: 20px;
  font-weight:800;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  color: white;
  font-size: 50px;
  line-height: 60px;
}
h2 {
  font-family: "Archivo Black", sans-serif;
  color: var(--color-blue);
  font-size: 40px;
  line-height: 120px;
  text-align: center;
}
h3 {
  font-size: 35px;
  color: #427ec7;
  font-weight: 600;
  line-height: 30px;
}
header {
  background-color: var(--color-blue);
  padding: 30px;
  margin: 0 -30px;
}
main {
  background-color: var(--color-box);
  padding: 24px;
}
nav {
  margin: 0;
  display: block;
  text-align: right;
}

form li {
  margin-top: 1em;
  padding: 3px;
}

form button {
    margin-left: 105px;
  padding: 9px 23px;
  border-radius: 10px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

footer {
  padding: 20px 0;
  color: white;
}

img {
  width: 350px;
  max-height: 400px;
  object-fit: cover;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-styled {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  color: white;

}
.important-text {
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
}
.important-text em {
  color: var(--color-pink);
  font-weight: 800;
}
/* hover styles*/
nav a:hover {
  background-color: #122252;
  color: var(--color-highlight);
  transition: var(--transition-default);
}

button:hover {
  background-color: #852c55;
  color: var(--color-highlight);
  transition: var(--transition-default);
  
}
/* media inquiries */

@media (max-width: 550px) {
  .site-nav > button:not([aria-expanded]) {
    display: none;
  }
  .site-nav > button[aria-expanded="false"] + ul {
    display: none;
  }
  .site-nav {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;
  }

  .menu-list {
    animation: slideIn 0.5s forwards;
    background-color: #122252;
    padding-top: 20px;
    display: block;
    top: 13px * -1;
    right: 20px * -1;
    transform-origin: top;
    width: 250px;
    z-index: -1;
  }

  .menu-list a {
    color: white;
    display: block;
    font-size: 1.3em;
    margin: 15px 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition: var(--transition-default);
  }
}

@media (min-width: 551px) {
  header {
    text-align: center;
  }
  nav {
    text-align: center;
  }
  nav a {
    display: inline-block;
    color: white;
    border-radius: 3px;
    background-color: var(--color-blue);
    display: block;
    padding: 8px 25px;
    text-align: center;
    margin: 10px 15px;
    position: relative;
  }
  main {
    padding: 100px;
  }

  .site-nav > button {
    display: none;
  }
}

/* animation */

@keyframes slideIn {
  from {
    margin-left: 160%;
    width: 100%;
  }

  to {
    margin-left: 60%;
    width: 40%;
  }
}
